<div class="col-md-offset-4 col-md-4">

<h1>Submit a Song</h1>

<% if @song && @song.errors.any? %>
  <div>
    <strong>Some issues with your message, please fix this: </strong>
    <ul>
      <% @song.errors.full_song.each do |song| %>
        <li><% song %></li>
      <% end %>  
    </ul>
  </div>  
<% end %>
<hr/>

<form method="post" action="/songs">
   
   <div>
    <label>Song Title:</label>
    <input type="text" name="song_title" class="form-control" value="<%=@song && @song.song_title %>">
  </div>

  <div>
    <label>Author:</label>
    <input type="text" name="author" class="form-control" value="<%=@song && @song.author %>">
  </div>

  <div>
    <label>URL:</label>
    <input type="url" name="URL" class="form-control" value="<%=@song && @song.URL %>">
  </div>

  <div>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit" value ="Create Song">Create Song</button>
    <!-- <input type="submit" value ="Create Song"> -->
  </div>


</form>

<!-- <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
  ...
</div> -->

</div>